[Unit]
Description=Key2Host
After=network.target

[Service]
WorkingDirectory=/var/k2h/
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

ExecStartPre=/bin/bash -c "docker compose down --rmi local; \
                           pids=$(lsof -i :25 -t) && [ -n \"$pids\" ] && kill -9 $pids || true"
ExecStart=/usr/bin/docker compose -p "k2h" up --remove-orphans
ExecStop=/usr/bin/docker compose down

StandardOutput=journal
StandardError=journal
SyslogIdentifier=usapi

[Install]
WantedBy=multi-user.target